<div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop2 (fileDropped)="onFileChange($event)">
  <input hidden type="file" #fileInput (change)="onFileChange($event.target.files)" />
  <p class="text-importar align-vertical-center" >IMPORTAR<mat-icon>post_add</mat-icon></p>
</div>

<section class="tableSection" *ngIf="fileUploaded">
  <mat-table class="matTable" [dataSource]="dataSource">
    <ng-container *ngFor="let column of displayedColumns; let i = index">
      <ng-container *ngIf="column != 'acciones'; else acciones" [matColumnDef]="column">
        <mat-header-cell *matHeaderCellDef>
          <span>{{ column }}</span>
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row[i] }} </mat-cell>
      </ng-container>

      <ng-template #acciones>
        <ng-container matColumnDef="acciones">
          <mat-header-cell *matHeaderCellDef>
            <span translate> CP.Campo.Acciones </span>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-icon-button aria-label="edit-element" (click)="editarRegistro(row)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button aria-label="delete-element" (click)="editarRegistro(row)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
      </ng-template>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator #paginator [pageIndex]="0" pageSize="5" pageSizeOptions ="[5,50]"> </mat-paginator>
</section>